<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TomLabs.MapLens.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TomLabs.MapLens.Properties.Settings>
            <setting name="MainWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="MainHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="MainTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectorHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="SelectorWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="SelectorTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectorLeft" serializeAs="String">
                <value>0</value>
            </setting>
        </TomLabs.MapLens.Properties.Settings>
    </userSettings>
</configuration>